.testimonials .testimonial-container {
    display: flex;
    align-items: center;
    overflow: hidden; /* Keeps the inner divs from spilling out */
  }
  
  .testimonials .testimonial-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    will-change: transform; /* Optimizes the property to be changed */
  }
  
  .testimonials .scroll-btn {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #efefef;
    border: none;
    outline: none;
  }
  
  .testimonials .testimonial-item {
    flex: 0 0 200px; /* Prevents flex items from growing or shrinking */
    margin: 0 10px; /* Adds space between items */
  }
  * {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

#header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    background: linear-gradient(to right, black, grey);
    box-shadow: 0px 0px 5px 5px black;
}


.links ul {
    display: flex;
    align-items: center;
}

.links ul li {
    list-style: none;
    margin: 8px;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

/* -------end of header---- */


.info-section {
    display: flex;
    background: linear-gradient(to left, rgb(23, 23, 23), grey);
    justify-content: space-around;   
    padding: 10% 0;
    align-items: center;
    width: 100%;
}

.info-section img {
    /* width: 300px;
    height: auto; */
    object-fit: cover;

}

.my-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.my-info p {
    font-size: 12px;
    margin-top: 10px;
    color: white;
}

.my-info h1 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
    -webkit-text-stroke: 1px gold;
    text-shadow: white;
    color: white;
}

.my-info button {
    border: none;
    background-color: rgb(202, 175, 20);
    font-size: 8px;
    color: white;
    border-radius: 2rem;
    padding: 5px 15px;
    margin-top: 10px;
}

.my-info button a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}




/* ---------------------experience--------- */

.experience {
    margin-top: -5%;

}
.row-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-row {
    background-color: rgb(46, 43, 43);
    color: white;
    margin: 10px;
    padding: 30px;
    transition: 0.5s;
}
.experience-row button{
    display: block;
    margin: auto;
}

.experience-row:hover {
    background-color: rgb(171, 154, 56);

}

.experience-sub {
    text-align: center;
}

.experience-sub p {
    font-size: 10px;
}

.experience-sub h1 {
    font-weight: bold;
}



/* -----end of experience----- */




.next-section{
    margin-top: 5%;
}
.center-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  